* {
  padding: 0px;
  margin: 0px;
}
body {
  background-color: whitesmoke;
  height: 3840px;
}
.container {
  padding: 25px 300px 0px 300px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
h3,
.nav1,
.nav2 {
  display: inline-block;
}
.container .container1 img {
  width: 2%;
  height: 2%;
  position: relative;
  top: 1px;
  margin-right: 150px;
}
h3 {
  margin: 10px 0px 20px 0px;
}
.nav1 {
  padding: 7px;
}
.nav1 > span {
  margin: 0px 10px 0px 10px;
  color: grey;
  font-size: smaller;
}
.nav2 {
  padding: 10px;
}
.nav2 > span {
  margin: 0px 10px 0px 110px;
  color: orange;
}
.nav2 > button {
  margin: 0px 10px 0px 20px;
  background-color: rgb(248, 106, 11);
  border: rgb(248, 106, 11);
  border-radius: 3px;
  color: white;
  width: 110px;
  height: 30px;
}
.section1 h1 {
  font-size: 50px;
  padding-top: 40px;
  line-height: 50px;
}
.container2 {
  padding-top: 35px;
}
.container2 .section2 > img {
  width: 500px;
  height: 400px;
  padding-top: 30px;
  padding-left: 10px;
}
.container2 .section1,
.container .section2 {
  display: inline-block;
}
.section1 .p1 {
  margin: 30px 20px 10px 0px;
  padding: 12px;
  line-height: 30px;
  color: grey;
}

.section1 .p2 {
  color: rgb(248, 106, 11);
  border: 1px solid rgb(248, 106, 11);
  width: 120px;
  height: 25px;
  padding: 10px 5px 10px 22px;
  margin: 40px 20px 0px 10px;
}
.container3 {
  width: 600px;
  height: 100px;
  border: 0px solid black;
  margin-left: 170px;
  margin-top: 35px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.container3 select {
  border: 0px;
}
.container3 button {
  margin: 0px 10px 0px 20px;
  background-color: rgb(248, 106, 11);
  border: rgb(248, 106, 11);
  border-radius: 3px;
  color: white;
  width: 130px;
  height: 45px;
}
.container3 p {
  font-size: 10px;
  color: rgba(128, 128, 128, 0.694);
  margin-top: 10px;
}
.container3 {
  background-color: white;
}
.container4 {
  margin-top: 170px;
}
.container4 .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.container4 h2 {
  font-size: 30px;
}
.container4 .section1 p {
  font-size: 12px;
  padding-top: 15px;
  text-align: center;
}
.container4 .section2 {
  padding-top: 50px;
  display: flex;
  height: 250px;
}
.container4 .section2 div {
  margin: 20px;
  border: 0px solid black;
  background-color: white;
  flex-grow: 1;
  flex-basis: 30%;
}
.container4 .section2 p {
  margin: 15px 0px 0px 20px;
  color: rgba(128, 128, 128, 0.811);
  font-size: 15px;
}
.container4 .section2 div b {
  margin-left: 20px;
}
.container4 .section2 div img {
  width: 15%;
  height: 20%;
  margin: 25px 0px 25px 20px;
}
.container5 {
  margin-top: 170px;
}
.container5 h2 {
  font-size: 30px;
}
.container5 .section1 p {
  font-size: 12px;
  padding-top: 15px;
  text-align: center;
  padding-bottom: 40px;
}

.container5 .section1 {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}
.container5 .section2 {
  display: flex;
  flex-wrap: wrap;
}
.container5 .section2 div {
  margin: 10px;
  border: 0px solid black;
  background-color: white;
}
.container5 .section2 .main {
  width: 100%;
  height: 220px;
  border-radius: 10px;
}
.container5 .section2 .star {
  width: 20px;
  height: 15px;
  margin-left: 103px;
}
.container5 .section2 .small-location {
  width: 15px;
  height: 17px;
  margin-right: 5px;
  margin-top: 9px;
}
.container5 .section3 img {
  width: 30px;
  height: 30px;
  margin-top: 35px;
}
.container5 .section3 .img1 {
  margin-top: 20px;
  padding-left: 420px;
}
.container5 .section3 .img2 {
  padding-left: 10px;
}
.container6 {
  margin-top: 100px;
}
.container6 .section1 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container6 .section1 h2 {
  font-size: 30px;
}
.container6 .section1 p {
  font-size: 12px;
  text-align: center;
  padding: 25px 0px 10px 0px;
  line-height: 23px;
}

.container6 .section2 img {
  width: 30px;
  height: 30px;
  position: relative;
  left: 835px;
  margin-bottom: 10px;
}
.container6 .section3 {
  display: flex;
  flex-wrap: wrap;
}
.container6 .section3 div {
  flex: 1;
  margin: 10px;
  background-color: white;
  height: 340px;
}
.container6 .section3 div .main {
  width: 100%;
  height: 250px;
  margin-bottom: 10px;
  border-radius: 13px;
}
.container6 .section3 div .arrow {
  width: 12px;
  height: 12px;
  margin-top: 10px;
}
.container6 .section3 div .star {
  width: 15px;
  height: 12px;
}
.container7 {
  margin-top: 100px;
  display: flex;
  background-color: rgba(162, 130, 238, 0.046);
}
.container7 .section1 {
  width: 40%;
  height: 300px;
  border: 0px solid black;
  padding-right: 50px;
}
.container7 .section2 {
  width: 60%;
  height: 300px;
  border: 0px solid black;
}
.container7 .section1 h2 {
  font-size: 40px;
  padding: 0px;
  margin-bottom: 25px;
}
.container7 .section1 p {
  font-size: 15px;
  color: rgba(128, 128, 128, 0.694);
  margin-bottom: 25px;
}
.container7 .section1 img {
  width: 25px;
  height: 25px;
}
.container7 .section2 img {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  position: absolute;
}
.container7 .section2 {
  position: relative;
  z-index: 2;
}
.container7 .section2 .div1 {
  position: absolute;
  top: 30px;
  left: 40px;
  padding: 20px;
  background-color: white;
  z-index: -1;
}
.container7 .section2 .div2 {
  position: absolute;
  top: 100px;
  left: 90px;
  background-color: grey;
  width: 380px;
  height: 160px;
  z-index: -1;
  background-color: rgba(119, 136, 153, 0.059);
}
.container8 {
  margin-top: 100px;
}
.container8 h2 {
  font-size: 30px;
  text-align: center;
}
.container8 .section2 {
  display: flex;
  flex-wrap: wrap;
  margin-top: 40px;
}

.container8 .section2 div {
  margin: 10px;
  border: 0px solid black;
  background-color: white;
  flex: 1;
}
.container8 .section2 p {
  padding: 15px 0px 10px 0px;
  font-size: 12px;
  color: rgba(128, 128, 128, 0.694);
}
.container8 .section2 img {
  margin: 0px 0px 10px 0px;
  width: 100%;
  height: 240px;
  border-radius: 15px;
}
.container8 .section2 b {
  font-size: 14px;
}
.container8 .section3 .grey-dot {
  width: 11px;
  height: 11px;
}
.container8 .section3 .orange-dot {
  width: 15px;
  height: 14px;
}
.container8 .section3 {
  text-align: center;
  margin-top: 15px;
}
.container9 {
  margin-top: 120px;
}
.container9 .section1 {
  width: 100%;
  height: 320px;
  background-color: rgba(248, 106, 11, 0.918);
  border-radius: 10px;
  position: relative;
}
.container9 .section1 h2 {
  font-size: 40px;
  color: white;
  line-height: 45px;
  position: absolute;
  top: 70px;
  left: 190px;
  font-weight: bolder;
  text-align: center;
}
.container9 .section1 input {
  width: 60%;
  height: 45px;
  position: absolute;
  top: 200px;
  left: 175px;
  border-radius: 8px;
  border-color: white;
}
.container9 .section1 button {
  color: white;
  height: 30px;
  background-color: rgba(248, 106, 11, 0.918);
  position: absolute;
  top: 208px;
  left: 640px;
  padding: 5px 10px 12px 10px;
  border-radius: 5px;
  border-color: rgba(248, 106, 11, 0.918);
}
.container9 .section1 #placeholder {
  position: absolute;
  left: 640px;
}
/* .container9 .section1 img {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 208px;
} */

.container9 .section2 {
  margin-top: 100px;
  display: flex;
}
.container9 .section2 .div1 {
  width: 50%;
}
.container9 .section2 .div2 {
  width: 50%;
}
.container9 .section2 .main {
  width: 15px;
  height: 15px;
  position: relative;
  top: 1px;
  margin-right: 150px;
  padding-left: 5px;
}
.container9 .section2 .facebook {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.container9 .section2 .insta {
  width: 40px;
  height: 40px;
  margin-right: 5px;
}
.container9 .section2 .twitter {
  width: 40px;
  height: 40px;
}
.container9 .section2 .div2 {
  display: flex;
  justify-content: space-between;
}
.container9 .section2 .div2 p {
  margin-top: 20px;
}
.container9 .section2 .div2 .article1 span {
  line-height: 35px;
}
hr {
  margin-top: 35px;
  margin-bottom: 30px;
}
.container10 {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
}
